# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
    'atom-text-editor': [
        {
            'label': 'Enable auto-indent',
            'command': 'auto-indent:apply'
        }
    ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Auto-Indent'
      'submenu': [
        { 'label': 'Apply', 'command': 'auto-indent:apply' }
      ]
    ]
  }
]
